.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #09a813;
  justify-content: space-between;
  position: sticky;
  padding-right: 100px;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 150px;
  object-fit: contain;
  margin: 0 20px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 13px;
  font-weight: 500;
  /* background-color: #01f801; */
  letter-spacing: 1.5px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  padding: 5px 14px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.header__optionLineOne:hover {
  background-color: #f9f9f9;
  color: #000;
  opacity: 0.5;
  border-color: transparent;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
